body, h1, h2, h3, h4, h5 {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 48px;
    color: #FFFFFF;
    top: 40%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    background-color: hsl(0, 0%, 2%);
    display: flex;
    flex-direction: column;
}

.sidebar {
    background-color: #ffeb3b;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    padding-top: 50px;
   
        font-size: 24px;

}

.sidebar a {
    display: block;
    padding: 16px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
   
}

.sidebar a:hover {
    background-color: #ddd;
   
}

.header {
    color: white;
    padding: 20px;
    text-align: center;
}

.main-content {
    flex: 1;
    margin-left: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.photo-grid img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.photo-grid img:hover {
    transform: scale(1.05);
}

.section-title {
    text-align: center;
    margin-bottom: 30px;
}

.section-title h1 {
    font-size: 36px;
    color: white;
    font-size: 48;
}

.section-content {
    margin-bottom: 50px;
    text-align: center;
}
.text-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    color: white;
    font-family: "font-kerning" auto;
    font-size: larger;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
}

.contact-form input[type="text"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: large;
}

.contact-form button {
    width: 100%;
    padding: 15px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: larger;
}

.contact-form button:hover {
    background-color: hsl(63, 93%, 52%);
}

.footer {
    background-color:  white;
    color: white;
    text-align: center;
    padding: 5px 0;
    width: 100%;
    flex-shrink: 0;
}
 
 
  .center-button {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    background-color: green;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .background-container {
    width: 100%;
    height: 100%;
    background: url('images/tax1.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
   
  }
  .sliding-text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    animation: slide 10s linear infinite;
 
}

.justified-center {
    text-align: justify;
    margin: 0 auto;
    width: 500px;
  }
@keyframes slide {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(calc(100vw - 100%), calc(100vh - 100%));
    }
}
.background-page {
   
    background-size: cover;
    background-position: center;
  }
  .background-container1 {
    width: 100%;
    height: 100%;
    background: url('images/taxservice.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .center-button1{
    height: 100;
    width: 100;
    margin: 5px; /* Add space between buttons */
    padding: 10px 20px;
    font-size: 24px;
    color: white;
    background-color: green; /* Button background color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

}
.background-container2{
    width: 100%;
    height: 100%;
    background: url('images/callus.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
